
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 217 74% 14%;
    --foreground: 0 0% 98%;

    --card: 218 72% 14%;
    --card-foreground: 0 0% 98%;

    --popover: 218 72% 14%;
    --popover-foreground: 0 0% 98%;

    --primary: 210 71% 39%;
    --primary-foreground: 0 0% 98%;

    --secondary: 79 65% 52%;
    --secondary-foreground: 218 72% 14%;

    --muted: 218 50% 20%;
    --muted-foreground: 215 20.2% 80%;

    --accent: 79 65% 52%;
    --accent-foreground: 218 72% 14%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 217 74% 14%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 210 71% 39%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 79 65% 52%;
    --sidebar-accent-foreground: 218 72% 14%;
    --sidebar-border: 218 50% 20%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 217 74% 14%;
    --card: 0 0% 100%;
    --card-foreground: 217 74% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 217 74% 14%;
    --primary: 210 71% 39%;
    --primary-foreground: 0 0% 98%;
    --secondary: 79 65% 52%;
    --secondary-foreground: 217 74% 14%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 79 65% 52%;
    --accent-foreground: 217 74% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 210 71% 39%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 79 65% 52%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
